/**------------------- 
**      RESET
--------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}
/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}
/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/**------------------- 
**   CUSTOM PROPS
--------------------*/
:root {
  /* COLOURS */
  /* primary */
  --clr-strong-cyan: 172, 67%, 45%;
  /* neutral */
  --clr-very-dark-cyan: 183, 100%, 15%;
  --clr-dark-grayish-cyan: 186, 14%, 43%;
  --clr-grayish-cyan: 184, 14%, 56%;
  --clr-light-grayish-cyan: 185, 41%, 84%;
  --clr-very-light-grayish-cyan: 189, 41%, 97%;
  --clr-white: 0, 0%, 100%;

  /* FONT FAMILY */
  --ff-space-mono: 'Space Mono', monospace;

  /* FONT SIZE */
  --fs-form-input: 1.5rem;

  /* FONT WEIGHT */
  --fw-bold: 700;
}

/**------------------- 
**    UTILITIES
--------------------*/
.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/**------------------- 
**     GENERAL
--------------------*/
body {
  background-color: hsl(var(--clr-light-grayish-cyan));
  font-family: var(--ff-space-mono);
  font-size: var(--fs-form-input);
  font-weight: var(--fw-bold);
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  min-height: 98vh;
}
