<link rel="stylesheet" href="./develop/css/styles.css" />
<link rel="stylesheet" href="./develop/components/Tip/Tip.css" />

<div class="card stack">
  <!-- TODO: don't forget to move this out of here -->
  <div class="stack" style="flex-basis: 50%; --space: 2rem">
    <input-component
      icon="./develop/assets/images/icon-dollar.svg"
      alt="Dollar Sign"
      labelText="Bill"
      inputId="bill"
    ></input-component>

    <tip-selector-component></tip-selector-component>

    <input-component
      icon="./develop/assets/images/icon-person.svg"
      alt="icon of a person"
      labelText="Number of People"
      inputId="people"
    ></input-component>
  </div>

  <div style="flex-basis: 50%">
    <tip-display-component></tip-display-component>
  </div>
</div>
