<link rel="stylesheet" href="./develop/css/styles.css" />
<link rel="stylesheet" href="./develop/components/Tip/Tip.css" />

<div class="card stack">
  <input-component
    icon="./develop/assets/images/icon-dollar.svg"
    alt="Dollar Sign"
    labelText="Bill"
    inputId="bill"
  ></input-component>

  <tip-selector-component></tip-selector-component>

  <input-component
    icon="./develop/assets/images/icon-person.svg"
    alt="icon of a person"
    labelText="Number of People"
    inputId="people"
  ></input-component>

  <tip-display-component></tip-display-component>
</div>
