.form-control {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  position: relative;
}

.icon {
  position: absolute;
  top: 65%;
  left: 10px;
}

.form-control input {
  background-color: hsl(var(--clr-very-light-grayish-cyan));
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  border: none;
  outline: none;
  width: 100%;
}

.form-control input:focus {
  box-shadow: 0 0 0 2px hsl(var(--clr-strong-cyan));
}

.amount {
  color: hsl(var(--clr-very-dark-cyan));
  position: absolute;
  top: 50%;
  right: 1.25rem;
}

.error {
  box-shadow: 0 0 0 2px red !important;
}

.error-message {
  position: absolute;
  top: 0;
  right: 0;

  color: red;
  font-size: 0.9375rem;
}
