.form {
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  position: relative;
}

.icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(50%);
}

.form-control label {
  color: hsl(var(--clr-dark-grayish-cyan));
  display: block;
  font-size: 15px;
}

.form-control input {
  background-color: hsl(var(--clr-very-light-grayish-cyan));
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  border: none;
  width: 100%;
}

.amount {
  color: hsl(var(--clr-very-dark-cyan));
  position: absolute;
  top: 50%;
  right: 1.25rem;
}
